{% extends "base.html" %}
    {% load crispy_forms_tags %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="content-section">
    <form method="POST" class="form reg">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Підключайся до нас!
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Увійти</button>
        </div>
          <div class="border-top pt-3">
        <small class="text-muted">
          Відсутній аккаунт? <a class="ml-2" href="{% url 'register' %}">Зареєструйся зараз</a>
        </small>
    </div>
    </form>

</div>
<script type="text/javascript">
let addOn = '<span class="asteriskField">*</span>';
let name = document.getElementById("div_id_username").querySelectorAll('label')[0];
let passOne = document.getElementById("div_id_password").querySelectorAll('label')[0];


name.innerHTML = "Ваше ім'я" + addOn;
passOne.innerHTML = 'Пароль' + addOn;
</script>
{% endblock %}

