{% extends "base.html" %}
    {% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
    <form method="POST" class="form reg">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Приєднуйся до нас!
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Зареєструватись</button>
        </div>
          <div class="border-top pt-3">
        <small class="text-muted">
           Маєте аккаунт? <a class="ml-2" href="{% url 'login' %}">Ввійти</a>
        </small>
    </div>
    </form>

</div>
<script type="text/javascript">
let addOn = '<span class="asteriskField">*</span>';
let name = document.getElementById("div_id_username").querySelectorAll('label')[0];
let passOne = document.getElementById("div_id_password1").querySelectorAll('label')[0];
let passTwo = document.getElementById("div_id_password2").querySelectorAll('label')[0];
let passHint = document.getElementById("hint_id_password2");

name.innerHTML = "Ваше ім'я" + addOn;
passOne.innerHTML = "Введіть пароль" + addOn;
passTwo.innerHTML = "Повторіть пароль" + addOn;
passHint.innerHTML = 'Введіть пароль для підтвердження';
</script>
{% endblock %}